.Blogs{
  padding: 20px 60px 30px 60px;
  width: 100%;
}
/* .container{
  width: 100%;
} */
.Blo{
  font-size: 30px;
  padding-bottom: 20px;
}
.ttx{
  background-color: #81c78484;
  height: auto;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
}

.pro{
  font-size: 30px;
  margin-bottom:10px ;
}
.bgl{
  font-size: 16px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.862);
  border-radius: 5px;
}
.bgl:hover{
  background-color: #81c784;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  color: #ffffff;
}

.ico{
  color: #81c784;
}

/* Responsive Design */

@media screen and (max-width: 880px){
  .pro{
    font-size: 20px;
    margin-bottom: 10px;
  }
}