.feedback{  
  width: 100%;
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.textt{
  font-size: 25px;
  margin-bottom: 10px;
}

.expicon{
  background: transparent;
  color: #929292;
}
.cardd{
  max-width: 345px;
}
.form{
  width: 100%;
  align-self: center;
}

/* Responsive design for mobile devices */

@media(max-width: 1200px){
  .feedback{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 850px){
  .feedback{
    display: grid;
    grid-template-columns: 1fr;
    padding: 60px;
  }
  .arcade{
    margin: 20px 0 0 0;
  }
  .cardd{
  max-width: 100%;
  }
  .coment{
    margin-bottom: 20px;
  }
}